/ = javascript_pack_tag 'switch_button'

.btn-group.mb-2 role="group"
  = link_to t('all'),
           tasks_path,
           class: "btn btn-outline-primary",
           method: :get
  = link_to t('active'),
          tasks_path(request.query_parameters.merge({ done: false })),
          class: "btn btn-outline-primary",
          method: :get
  = link_to t('finished'),
          tasks_path(request.query_parameters.merge({ done: true })),
          class: "btn btn-outline-primary",
          method: :get