@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import "form/simple_form";
@import "tasks";
@import "projects";
@import "tags";

$white: black;
$back: whitesmoke;

.navbar {
  margin-bottom: 0;
  background: $back;
}
body {
  background: $back;
  color: $white;
  font-family: 'Merriweather', sans-serif;
  padding-bottom: 70px;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: $white;
}
a:visited {
  color: blue;
}
.jumbotron {
  background: #0048CD;
  color: $white;
  text-align: center;
  p {
    color: $white;
    font-size: 26px;
  }
}
.link {
  color: $white;
}
.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}
.btn-sm {
  background-color: $white;
  display: inline-block;
}
img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
caption {

  float: left;
  clear: both;
}

mark {
  background-color: yellow;
  opacity: 0.5;
  padding: 0;
}

#search-input-field {
  margin: 0 2rem 2rem 0;
}

#search-submit {
  height: 50%;
  margin-top: 1.5rem;
}

.secondary-text {
  padding: 0 1rem 0 0.5rem;
  color: #6c757d !important;
}
