// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-button {
  display: flex;
  justify-content: center;
}

.form-check {
  display: flex;
}

.form-check .form-check-label {
  margin-left: 0.5rem;
}
