// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.task-card {
  width: 32%
}

.extend-window {
  min-height: 65vh;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.detail-description {
  width: 75%;
  padding: 1rem;
  text-align: justify;
  border-right: darkgray 1px solid;
}
